.document-content {
    & ul,
    ol {
        padding: revert-layer;
        list-style-type: disc !important;
    }
    & h1 {
        font-size: 24px;
    }
    li {
        padding: 2px; /* Spacing for each list item */
        border-bottom: 1px solid #eee; /* Light bottom border */
        transition: background-color 0.3s; /* Smooth background transition */
    }

    & li:last-child {
        border-bottom: none; /* Remove border from the last item */
    }

    & li:hover {
        background-color: #f0f0f0; /* Highlight on hover */
    }

    & * {
        cursor: pointer;
    }

    & pre {
        background-color: #050505; /* Dark background for contrast */
        color: #ffffff; /* Light text color */
        padding: 20px; /* Spacing around the text */
        border-radius: 8px; /* Rounded corners */
        overflow: auto; /* Scroll if content overflows */
        font-family: "Fira Code", monospace; /* Monospace font for code */
        font-size: 14px; /* Font size */
        line-height: 1.5; /* Improved line height for readability */
    }

    & code {
        background: none; /* Remove background from inline code */
        padding: 0; /* No padding for inline code */
    }

    & .hljs-keyword {
        background-image: linear-gradient(to bottom, #fcf9bd, #ff2f78);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text; /* CSS for keywords */
    }

    & .hljs-attr {
        color: #e06c75; /* Red for attributes */
    }

    & .hljs-property {
        background-image: linear-gradient(to bottom, #fcf9bd, #2ffffc);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text; /* CSS for properties */
    }

    & .hljs-literal {
        background-image: linear-gradient(to bottom, #fcffdf, #a2ff00);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    & .hljs-number {
        background-image: linear-gradient(to bottom, #ecff17, #ffaf1b);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
    }

    & .hljs-string {
        background-image: linear-gradient(to bottom, #ffff04, #ff2bea);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        /* Green for strings */
    }

    & .hljs-comment {
        color: #96ff69e8; /* Grey for comments */
        font-style: italic; /* Italics for comments */
    }

    & .hljs-title.function_ {
        color: transparent;
        background-image: linear-gradient(to bottom, #efc5ff, #01fff2);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }

    & .hljs-title.class_ {
        color: transparent;
        background-image: linear-gradient(to bottom, #efc5ff, #ffe101);
        background-clip: text;
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
    }
}

.markdown-heading,
.heading-element {
    padding: 10px 0;
    font-size: 30px !important;
    font-weight: 500;
    /* Text gradient from violet to lime */
    background: -webkit-linear-gradient(90deg, #14fcaf, #8819ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.hljs {
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
}

/* Responsive */

@media only screen and (max-width: 1200px) {
    .document-content pre {
        zoom: 0.95;
    }
}

@media only screen and (max-width: 960px) {
    .document-content pre {
        zoom: 0.85;
    }
}
@media only screen and (max-width: 800px) {
    .document-content pre {
        zoom: 0.8;
    }
}

@media only screen and (max-width: 600px) {
    .document-content pre {
        zoom: 0.75;
    }
}
